.app__about {
  flex: 1;
  width: 100%;
  flex-direction: column;
  margin-top: 5rem;
}

.app__profiles {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  margin-top: 3rem;
  gap: 2vw;
  max-width: 88.542vw;
  width: 100%;
}

.app__profile-item {
  background-size: contain;
  background-repeat: no-repeat;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  width: 28vw;
  height: 17vw;
  position: relative;
  .vissible__hidden {
    overflow: hidden;
    height: 100%;
    width: 100%;
    position: relative;
  }

  &:hover .pattern img {
    animation: rot 30s linear infinite; /* Запуск анимации при наведении */
  }

  .pattern {
    position: absolute;
    top: 55%;
    left: -22%; // начальное значение для desktop
    width: 40%; // адаптивная ширина
    height: auto;
    z-index: 0;

    img {
      position: absolute; /* Позиционирование для центрирования */
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); /* Центрирование изображения */
      transition: transform 0.5s; /* Плавный переход */
    }

    @keyframes rot {
      0% {
        transform: translate(-50%, -50%) rotate(0deg); /* Начальная позиция */
      }
      100% {
        transform: translate(-50%, -50%) rotate(360deg); /* Конечная позиция */
      }
    }
  }

  h2 {
    font-size: 1.5vw;
    position: absolute;
    top: 1rem;
    left: 2rem;
    font-family: var(--font-base);
    color: var(--brown-color);
    text-align: right;
  }

  .content {
    z-index: 1;
    display: flex;
    padding: 20px;
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
    p,
    button {
      box-shadow: 0px 0px 12px 2px rgba(0, 0, 0, 0.12);
      display: flex;
      justify-content: center;
      align-items: center;
      width: 9.82vw;
      height: 2.91vw;
      border-radius: 5rem;
      background-color: var(--primary-color);
      font-size: 1.1vw;
      color: var(--black-color);
      z-index: 999;
      margin: 0 !important;
    }

    button {
      border: none;
      width: 3vw;
      cursor: pointer;
    }
  }

  .description {
    position: absolute;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: var(--primary-color);
    z-index: 999;
    top: calc(100% - 6px);

    box-shadow: 
  0px 4px 12px 2px rgba(0, 0, 0, 0.12),  /* тень снизу */
  4px 0px 12px 2px rgba(0, 0, 0, 0.12),   /* тень справа */
  -4px 0px 12px 2px rgba(0, 0, 0, 0.12);  /* тень слева */

    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;

    .description__title {
      margin-top: 2rem;
      margin-left: 2rem;

      .content {
        position: static;
      }

      ul {
        margin: 3rem 0 3rem 3rem;
        li::marker {
          font-size: 1.5rem;
          color: var(--secondary-color);
        }
        li {
          margin-bottom: 10px;
        }
        p {
          font-size: 1rem;
        }
      }
    }
  }

  img {
    width: 100%;
    height: 220px;
    object-fit: contain;
  }
}
