@media screen and (max-width: 700px) {
  .app__social,
  .app__navigation {
    display: none !important;
  }
}

.underline-pc {
  border-bottom: 3px solid var(--secondary-color);
  padding-bottom: 10px;
}

.underline {
  @media screen and (max-width: 900px) {
    border-bottom: 3px solid var(--secondary-color);
    padding-bottom: 10px;
  }
}
.bk__square {
  margin-bottom: 2rem;
  width: 100%;
  border-radius: 50px;
  text-align: center;
  text-transform: uppercase;
  padding: 10px;
  background-color: var(--secondary-color);
  color: var(--white-color);
  letter-spacing: 0.5px;
}

.app__skills {
  flex: 1 1;
  width: 100%;
  flex-direction: column;
}

.positon__static {
  @media screen and (max-width: 1750px) {
    position: static !important;
  }
}

.about__description {
  z-index: 1;
  margin-top: 5rem;
  max-width: 1600px;
  width: 100%;
  height: 900px;
  position: relative;
  @media screen and (max-width: 1750px) {
    display: grid;
    grid-template-columns: repeat(
      2,
      calc(50% - 25px)
    ); /* Каждая колонка занимает минимальную ширину по содержимому */
    grid-auto-rows: auto; /* Высота строк адаптируется к контенту */
    gap: 50px; /* Расстояние между элементами */
    height: auto;
    justify-content: center;
    & > div {
      width: 100% !important;
    }
    #name {
      order: 1;
    }
    #bio {
      order: 2;
    }
    #education {
      order: 6;
    }
    #qualities {
      order: 4;
    }
    #skills {
      order: 3;
    }
    #expirience {
      order: 5;
    }
  }

  @media screen and (max-width: 900px) {
    grid-template-columns: 1fr;

    #name {
      order: 1;
    }
    #bio {
      order: 2;
    }
    #education {
      order: 4;
    }
    #qualities {
      order: 3;
    }
    #skills {
      order: 6;
    }
    #expirience {
      order: 5;
    }
  }
  font-family: var(--font-base-dm);

  .about__description-name {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    width: 700px;
    margin-top: 82px;
    padding: 40px;
    background-color: var(--primary-color);
    border-radius: 30px;
    height: calc(300px - 80px);
    @media screen and (max-width: 1200px) {
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: auto;
      padding: 20px;
      margin-top: 0;
    }

    article {
      margin-left: 2rem;
      width: calc(100% - 340px);
      color: var(--brown-color);
      @media screen and (max-width: 1650px) {
        width: 80%;
      }
      @media screen and (max-width: 1200px) {
        margin-top: 2rem;
      }
      h2 {
        font-size: 4rem;
        font-weight: 700;
        text-transform: uppercase;
        line-height: 3.5rem;
        letter-spacing: 4px;
        @media screen and (max-width: 1650px) {
          font-size: 3rem;
        }
      }
      p {
        font-size: 1.5rem;
        text-align: justify;
        letter-spacing: 1px;
        @media screen and (max-width: 1650px) {
          margin-top: 5px;
          font-size: 1rem;
        }
      }
    }
    .logo {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 300px;

      @media screen and (max-width: 1650px) {
        width: 180px;
      }
    }
  }

  .about__description-bio {
    position: absolute;
    top: 0;
    right: 430px;
    width: 350px;

    article {
      p {
        text-align: center;
        font-size: 1rem;
        line-height: 1.6rem;
        padding: 30px 30px 15px 30px;
        border-radius: 30px;
        background-color: var(--primary-color);
        color: var(--brown-color);
      }
    }
  }

  .about__description-qualities {
    position: absolute;
    top: 370px;
    left: 0;
    width: 350px;

    .about__description-qualities-item {
      margin-bottom: 1rem;
      div {
        position: relative;
        background-color: var(--secondary-color);
        height: 30px;
        border-radius: 10px;
        div {
          border-top-left-radius: 0;
          border-bottom-left-radius: 0;
          background-color: var(--primary-color);
          height: 30px;
          position: absolute;
          right: 0;
          top: 0;
          z-index: 999;
        }
      }

      h3 {
        margin-left: 5px;
        margin-bottom: 3px;
        color: var(--brown-color);
        font-size: 1rem;
        font-weight: normal;
      }
    }

    .about__description-qualities-item:nth-child(2) {
      div {
        div {
          width: 10%;
        }
      }
    }
    .about__description-qualities-item:nth-child(3) {
      div {
        div {
          width: 5%;
        }
      }
    }
    .about__description-qualities-item:nth-child(5) {
      div {
        div {
          width: 60%;
        }
      }
    }
  }

  .about__description-education {
    position: absolute;
    top: 0;
    right: 0;
    width: 400px;

    .education__container {
      padding: 40px;
      border-radius: 30px;
      background-color: var(--primary-color);

      .education__item {
        margin-bottom: 2rem;

        .education__item-content {
          margin-top: 3rem;
          article {
            text-align: center;
            h2 {
              margin-bottom: 5px;
              color: var(--brown-color);
            }
          }
        }

        .education__item-timeline {
          position: relative;
          width: 100%;
          height: 3px;
          background-color: var(--brown-color);
          div {
            position: absolute;
            top: -10px;
            width: 20px;
            height: 20px;
            border-radius: 100%;
            background-color: var(--brown-color);
          }
          h2 {
            color: var(--brown-color);
            padding-top: 15px;
          }
        }
      }

      .education__item:nth-child(2) {
        .education__item-timeline {
          div {
            left: 30%;
          }
          h2 {
            margin-left: 25%;
          }
        }
      }
      .education__item:nth-child(3) {
        .education__item-timeline {
          div {
            left: 50%;
            transform: translateX(-50%);
          }
          h2 {
            margin-left: 42%;
          }
        }
      }
      .education__item:nth-child(4) {
        .education__item-timeline {
          div {
            left: 80%;
          }
          h2 {
            margin-left: 75%;
          }
        }
      }
    }
  }

  .about__description-expirience {
    position: absolute;
    top: 370px;
    right: 430px;
    width: 350px;

    .expirience__container {
      .expirience__item {
        display: flex;
        justify-content: space-between;
        .expirience__item-content {
          margin-top: 40px;
          padding: 10px;
          border-radius: 15px;
          background-color: var(--primary-color);

          h2 {
            font-size: 1.2rem;
            color: var(--brown-color);
          }
          p {
            font-weight: 00;
          }
        }

        .expirience__item-timeline {
          margin-top: 1rem;
          position: relative;
          width: 3px;
          height: 80px;
          background-color: var(--brown-color);
          div {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 15px;
            height: 15px;
            border-radius: 100%;
            background-color: var(--brown-color);
          }
          h2 {
            margin-top: 30px;
            margin-left: 20px;
            width: 100px;
            font-size: 1rem;
            color: var(--brown-color);
          }
        }
      }
    }
  }

  .about__description-skills {
    position: absolute;
    top: 370px;
    left: 430px;
    width: 400px;

    .skills__container {
      .bk__square {
        width: 50%;

        @media screen and (max-width: 1750px) {
          width: 100%;
        }
      }

      .skills__item {
        display: grid;
        grid-template-columns: 50px 160px 100px;
        grid-template-rows: 1;
        margin-bottom: 30px;
        @media screen and (max-width: 390px) {
        grid-template-columns: 40px 160px 80px;
          
        }
        article {
          margin: 0 0 0 20px;

          h2 {
            font-size: 1rem;
          }
        }

        .skills__circle {
          margin-top: 5px;
          margin-left: -15px;
          transform: translate(30px, 0);
          div {
            width: 15px;
            height: 15px;
            border-radius: 100%;
            margin-right: 5px;
          }

          .circle__shaded {
            background-color: var(--secondary-color);
          }
          .circle__not-shaded {
            border: 1px solid var(--brown-color);
            background-color: transparent;
          }
        }
        .img__skills-box {
          width: 50px;

          img {
            width: 100%;
          }
        }
      }
    }
  }
}
